{% extends "layout.html" %}
{% block title %}Home{% endblock title %}

{% block head %}
{{ super() }}
<script src="/static/js/app.js"></script>
{% endblock head %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row justify-content-md-center h-100">
        <div class="col-sm-12 col-md-4 align-self-center">
            <div class="upload-box">
                <div>
                    <form onsubmit="send(); return false;" target="/" method="post" enctype="multipart/form-data">
                        <input hidden
                               id="file"
                               onchange="selectedFiles()"
                               class="form-control"
                               type="file"
                               multiple
                               name="file"/>

                        <input hidden
                               id="folder"
                               type="file"
                               onchange="selectedFolder()"
                               webkitdirectory
                               directory
                               multiple
                               name="folder">

                        <div class="d-grid" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
                            <a id="add-file" onclick="openFiles()" class="bt more-bt mb-3" type="button">
                                <span class="fl"></span><span class="sfl"></span><span class="cross"></span><i></i>
                                Add Files
                            </a>
                            <button type="button" class="btn btn-outline-primary" onclick="openFolder()">Or select a folder</button>
                        </div>

                        <div class="d-grid">
                            <button id="link" class="btn btn-primary btn-block mt-5" type="submit">
                                <span id="link-spinner" class="spinner-border spinner-border-sm" role="status"
                                      aria-hidden="true"></span>
                                <span id="link-indicator">Upload</span>
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 my-4">
            <ul id="list" class="list-group">


            </ul>
        </div>
    </div>
</div>
{% endblock content %}
